<form
  class="test-form__form"
  (ngSubmit)="onSubmit($event)">
  <mat-form-field class="test-form__input">
    <input
      matInput
      placeholder="Report Name"
      [(ngModel)]="test.reportName"
      [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="test-form__input">
    <input
      matInput
      [(ngModel)]="test.entryUrl"
      [ngModelOptions]="{standalone: true}"
      placeholder="Entry Url">
  </mat-form-field>

  <mat-form-field class="test-form__input">
    <input
      matInput
      type="number"
      optional
      [(ngModel)]="test.entryWaitTime"
      [ngModelOptions]="{standalone: true}"
      placeholder="Start up delay">
  </mat-form-field>
  <p>Steps</p>
  <div
    *ngFor="let step of test.steps"
    class="test-form__steps">
    <mat-form-field class="test-form__input">
      <input
        matInput
        [(ngModel)]="step.actionSelector"
        [ngModelOptions]="{standalone: true}"
        placeholder="Action Selector">
    </mat-form-field>
    <mat-form-field class="test-form__input">
        <input
          matInput
          type="number"
          optional
          [(ngModel)]="step.stepWaitTime"
          [ngModelOptions]="{standalone: true}"
          placeholder="Step delay">
      </mat-form-field>
  </div>
  <button
    mat-raised-button
    type="submit"
    color="primary">Run Test</button>
</form>